body {
    margin: 0;
    padding: 0;
    /* background: url("{% static 'image/cover.jpg' %}") no-repeat bottom right fixed; */
    background: url(" https://res.cloudinary.com/duln4nndb/image/upload/v1716544447/static/image/cover.76806334a6b8.jpg")no-repeat bottom right fixed;
    background-size: cover;
    font-family: sans-serif;
}
.error-message
{
    color: red;
}
.logo-background {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #ffffff; 
    font-weight: bold;
}
.header-footer-bg {
    background-color: rgba(49, 27, 27, 0.8);/* Fully transparent background color */
    color: #fff; /* White text color */
}
.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #725b1c;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal-content {
    width: 100%;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.section {
    height: 100vh;
    background-attachment: fixed;
    margin-left: 0; /* Set left margin to 0 */
    margin-right: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

/* Define styles for alternating sections */
/* .section:nth-child(even) {
    background: url("../image/slide1.jpg") no-repeat bottom right fixed; 
    background-size: cover;
} */


#section1 {
    color: #fff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#section2 {
    color: #fff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;    
} 

.button-container {
    margin-top: 10px;
}

.button-container .btn {
    background-color: #a52a2a;
    color: #fff;
    font-size: 40px;
    border: none;
    padding: 10px 20px;
}

#section .nav-tabs .nav-link {
    color: #d13030;
    font-size: 10px;
    margin: 5px;
}
#section .nav-tabs .nav-link.active {
    background-color:  #3d0202;
}
.menu-item {
    position: relative;
    width: 250px; 
    height: 250px; 
    border: 1px solid  #a52a2a;
    margin: 20px auto ;
}

.menu-item-image {
    width: 100%; 
    height: 80%; 
    display: block;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.menu-item:hover .menu-item-image  {
    transform: scale(1.1); 
}

.menu-item:hover .description  {
    transform: scale(1.1); 
}

.menu-item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 0;
    transition: transform 0.3s ease; 
} 
#section {
    color: #fff;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    color: #fff;
    font-size: 20px;
}
 .container h2{
    color: #fff;  
}

#booking-form-container .form-control {
    padding: 10px; 
    font-size: 16px;
}

#booking-form-container label {
    font-size: 16px; 
    font-weight: bold;
    color: #fff;
}

#booking-form-container .btn-primary {
    padding: 10px 20px; 
    font-size: 18px; 
}

#booking-form-container {
    margin: 20px; 
    padding: 20px; 
}

.navbar-nav .nav-link{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.navbar-nav .nav-link.active
{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.nav-link
{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.navbar-nav .nav-link:hover {
    color: #a52a2a;
}
.nav-item .nav-link:hover {
    color: #a52a2a;
}
#booking-form {
    background-color: rgba(0, 0, 0, 0.2); 
}
.login{
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff;  
}
.btn-primary {
    background-color: brown;
    border-color: brown;
}
.custom-confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.custom-confirm-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.custom-confirm-buttons {
    margin-top: 20px;
}
.custom-confirm-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.custom-confirm-button.confirm {
    background-color: #dc3545;
    color: white;
}

.custom-confirm-button.cancel {
    background-color: #6c757d;
    color: white;
}
