
body {
    margin: 0;
    padding: 0;
    /* background: url("../image/cover.jpg") no-repeat bottom right fixed; 
    background-size: cover; */
    background-color: gray;
    
}

.container-fluid {
    padding: 0;
}

.callout-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.carousel-item {
    margin-top: 400px;
    padding: 0; /* Remove any padding */
    height: 400px; /* Set the height */
    width: 100%; /* Take up full width */
    border: 1px solid #c40b0b; /* Add a border */
    border-radius: 5px; /* Optionally, add border-radius for rounded corners */
}

.carousel-item img {
    height: 100%; /* Ensure the image takes up the full height of the carousel item */
    width: 100%; /* Ensure the image takes up the full width of the carousel item */
    object-fit: cover; /* Ensure the entire image is visible within the specified height */
}
.footer { 
    background-color: #198754; 
} 

.footer-content h2 { 
    color: #fff; 
} 

.footer-content h5, 
.footer-content p, 
.footer-links a { 
    color: #fff; 
} 

.footer-links a:hover { 
    text-decoration: underline; 
} 

.footer hr { 
    background-color: #fff; 
} 