body {
    margin: 0;
    padding: 0;
    background: url("../image/cover.jpg") no-repeat bottom right fixed; 
    background-size: cover;
    /* background-color: gray; */
    
}

.section {
    height: 100vh; /* Set section height to fill viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Define styles for alternating sections */
/* .section:nth-child(even) {
    background: url("../image/slide1.jpg") no-repeat bottom right fixed; 
    background-size: cover;
} */
#section1 {
    color: #fff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    background-color: #a52a2a;
    color: #fff;
    font-size: 40px;
    border: none;
    padding: 10px 20px;
}

#section2 {
    color: #fff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.button-container {
    margin-top: 10px;
}
.button-container button {
    background-color: #a52a2a;
    color: #fff;
    font-size: 40px;
    border: none;
    padding: 10px 20px;
}