{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container justify-content-center transparent-background text-white">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-center color-white bold">{% trans "Sign In" %}</h3>
            <p class="text-center color-white bold">{% blocktrans %}Welcome back to the code|star blog. To leave a comment or like a post, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" action="{{ action_url }}"  class="login border p-4 rounded transparent-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                <button type="submit" class="btn btn-primary btn-block mt-3">{% trans "Sign Up" %}</button>
            </form>
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}