{% extends 'home.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <section class="d-flex flex-column justify-content-center align-items-center text-center mt-5"> 
        <ul class="nav nav-tabs justify-content-center mb-1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lunch-tab" data-bs-toggle="tab" data-bs-target="#lunch-tab-pane" type="button" role="tab" aria-controls="lunch-tab-pane" aria-selected="true">Lunch</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dinner-tab" data-bs-toggle="tab" data-bs-target="#dinner-tab-pane" type="button" role="tab" aria-controls="dinner-tab-pane" aria-selected="false">Dinner</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="drink-tab" data-bs-toggle="tab" data-bs-target="#drink-tab-pane" type="button" role="tab" aria-controls="drink-tab-pane" aria-selected="false">Drink</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active py-1 mb-5" id="lunch-tab-pane" role="tabpanel" aria-labelledby="lunch-tab" tabindex="0">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 m-1">
                    {% for lunch_item in lunch_items %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3"> 
                        <div class="menu-item">
                            <img class="menu-item-image" src="{% static lunch_item.image %}" alt="Lunch"/>
                            <div class="description">
                                <p>{{ lunch_item.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade py-1 mb-5" id="dinner-tab-pane" role="tabpanel" aria-labelledby="dinner-tab" tabindex="0"> <!-- Added margin-bottom for the dinner tab pane -->
                <div class="row no-gutters">
                    {% for dinner_item in dinner_items %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3"> <!-- Adjusted margin-bottom for the items -->
                        <div class="menu-item">
                            <img class="menu-item-image" src="{% static dinner_item.image %}" alt="Dinner"/>
                            <div class="description">
                                <p>{{ dinner_item.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade py-1 mb-5" id="drink-tab-pane" role="tabpanel" aria-labelledby="drink-tab" tabindex="0"> <!-- Added margin-bottom for the dinner tab pane -->
                <div class="row no-gutters">
                    {% for drink_item in drink_items %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3"> <!-- Adjusted margin-bottom for the items -->
                        <div class="menu-item">
                            <img class="menu-item-image" src="{% static drink_item.image %}" alt="Drink"/>
                            <div class="description">
                                <p>{{ drink_item.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}