{% extends 'base.html' %}
{% block title %}Reservation Page{% endblock %}

{% block content %}
<div class="container">
    <section class="d-flex flex-column justify-content-center align-items-center text-center py-5">
        <h2>Reservation Form</h2>
        <div id="booking-form-container" class="row">
            <div class="col-md-8 offset-md-2">
                <form id="booking-form" method="post" class="border p-4 rounded">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" value="{{ request.user.username }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <span id="email-error" style="color: red;"></span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.contact_number.label_tag }}
                                {{ form.contact_number }}
                                <span id="contact-number-error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.number_people.label_tag }}
                                {{ form.number_people }}
                                <span id="number-people-error" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.date.label_tag }}
                                {{ form.date }}
                                <span id="date-error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.time.label_tag }}
                                {{ form.time }}
                                <span id="time-error" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="button-container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}