{% extends 'base.html' %}
{% block title %}Reservation Page{% endblock %}

{% block content %}

<div class="container">
    <section class="d-flex flex-column justify-content-center align-items-center text-center py-5">
        <h2>Reservation Form</h2>
        <div id="booking-form-container" class="row">
            <div class="col-md-8 offset-md-2">
                <form id="booking-form" method="post" class="border p-4 rounded">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username">Username</label>
                                <!-- Display logged-in user's username -->
                                <input type="text" id="username" name="username" value="{{ request.user.username }}" readonly>
                            </div>
                            <!-- <div class="mb-3">
                                {{ form.user.label_tag }}
                                {{ form.user.username }}
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.contact_number.label_tag }}
                                {{ form.contact_number }}
                                {% if form.contact_number.errors %}
                                <span style="color: red;">{{ form.contact_number.errors }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.number_people.label_tag }}
                                {{ form.number_people }}
                                {% if form.number_people.errors %}
                                <span style="color: red;">{{ form.number_people.errors }}</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.date.label_tag }}
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.time.label_tag }}
                                {{ form.time }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="button-container">
                        <!-- <a href="{% url 'view_reservation' %}"><button type="submit">Submit</button></a> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                        </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}