{% extends 'base.html' %}

{% block title %}Reservation Page{% endblock %}

{% block content %}
<div class="container">
    <section class="py-5">
        <h2>Reservation Details</h2>
        <div class="table-responsive"> <!-- Add class for responsive table -->
            <table class="table table-striped"> <!-- Add Bootstrap table classes -->
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Contact</th>
                        <th scope="col">people</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.user }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td>{{ booking.number_people}}</td>
                        <td>{{ booking.contact_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}